body {
    margin: 37px 48px;
}
table{
    width: 100%;
}
td {
    width: 288px;
    padding: 1px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: underline;
}
img{
    width: 100%;
}
.contact-us-page{
    text-decoration: none;
    background-color: #f06eb3;
}


